In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
# Open the schools data file
schools = os.path.join("raw_data", "schools_complete.csv")
schools_df = pd.read_csv(schools)
# schools_df.head()

In [3]:
# Open the students data file
students = os.path.join("raw_data", "students_complete.csv")
students_df = pd.read_csv(students)
# students_df.head()

In [4]:
# schools_df.dtypes

In [5]:
# students_df.dtypes

In [6]:
# Add per student budget to schools_df
schools_df["Per Student Budget"] = schools_df["budget"]/schools_df["size"]

# Renames "name" to "school"
schools_df = schools_df.rename(columns={"name": "school"})
schools_df.head()

,School ID,school,type,size,budget,Per Student Budget
0,0,Huang High School,District,2917,1910635,655.0
1,1,Figueroa High School,District,2949,1884411,639.0
2,2,Shelton High School,Charter,1761,1056600,600.0
3,3,Hernandez High School,District,4635,3022020,652.0
4,4,Griffin High School,Charter,1468,917500,625.0

In [7]:
# Merge student and school tables
district_df = pd.merge(students_df, schools_df, on="school")
district_df.head()

,Student ID,name,gender,grade,school,reading_score,math_score,School ID,type,size,budget,Per Student Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,655.0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,655.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,655.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,655.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,655.0

In [8]:
# Add pass/fail for math and reading scores, reorder columns to put pass/fail next to actual scores

math_pass_fail = []
for row in district_df['math_score']:
    if row >= 70:
        math_pass_fail.append('Pass')
    else:
        math_pass_fail.append('Fail')
district_df['Math Pass/Fail'] = math_pass_fail

reading_pass_fail = []
for row in district_df['reading_score']:
    if row >= 70:
        reading_pass_fail.append('Pass')
    else:
        reading_pass_fail.append('Fail')
district_df['Reading Pass/Fail'] = reading_pass_fail
district_df.head()

district_df = district_df[["Student ID", "name", "gender", "grade", "school", "School ID", "reading_score", 
                           "Reading Pass/Fail", "math_score", "Math Pass/Fail", "type", "size", "budget", 
                           "Per Student Budget"]]
district_df.head()

,Student ID,name,gender,grade,school,School ID,reading_score,Reading Pass/Fail,math_score,Math Pass/Fail,type,size,budget,Per Student Budget
0,0,Paul Bradley,M,9th,Huang High School,0,66,Fail,79,Pass,District,2917,1910635,655.0
1,1,Victor Smith,M,12th,Huang High School,0,94,Pass,61,Fail,District,2917,1910635,655.0
2,2,Kevin Rodriguez,M,12th,Huang High School,0,90,Pass,60,Fail,District,2917,1910635,655.0
3,3,Dr. Richard Scott,M,12th,Huang High School,0,67,Fail,58,Fail,District,2917,1910635,655.0
4,4,Bonnie Ray,F,9th,Huang High School,0,97,Pass,84,Pass,District,2917,1910635,655.0

In [13]:
pm = district_df.loc[district_df["math_score"] >= 70,:]
pm_grouped = pm.groupby(["school"])
pmg_scores = pm_grouped["math_score"].count()
pmg_scores

school
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: math_score, dtype: int64

In [15]:
# Group students_df by school
students_grouped = district_df.groupby(["school"])
passing_math = studentsoccer_2018_df.loc[soccer_2018_df["Preferred Position"] == "ST",:]

KeyError: 'Math Pass/Fail'